<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pretraga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/user.css">
    <script defer src="scripts/user.js" type="module"></script>
</head>
<body>
<%- include ('../partials/header.ejs') %>
<main>
    <div class="userinfo">
        <img src="<%= user.picture %>" alt="user picture">
        <p>SID: <%= user.sid %></p>
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
    </div>
    <div class="buttons">
        <button id="osvjezibutton">Osvježi preslike</button>
        <button id="logoutbutton">Odjavi se</button>
    </div>
</main>
<%- include ('../partials/footer.ejs') %>
</body>
</html>